html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h3,
p {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h3,
h4 {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #1C1C1C;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  background-image: url('./images/image\ 36.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0E0E0E;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4.55rem 2.75rem;
}

form {
  text-align: center;
  margin: 0 auto;
}

h1,
h4 {
  font-weight: 800;
}

h1 {
  font-size: 2.5625;
  letter-spacing: -0.045em;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 20px;
  font-weight: 500;
}

h4 {
  font-size: 0.875;
  line-height: 1.25rem;
}

input {
  outline-style: none;
  color: #fff;
  display: block;
  line-height: 1;
}

input[type="search"]::placeholder,
button {
  font-size: 14px;
  line-height: 20px;
}

input[type="search"]::placeholder {
  padding-left: 1.5rem;
  color: #A5A5A5;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 11px 9px 17px;
  border: none;
  width: 120px;
  color: #FFF;
  cursor: pointer;
  background: #4B4B4B;
  border-radius: 0px 6px 6px 0px;
}

.wrapper {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  background-color: #121212;
  min-height: 100vh;
}

.search-section {
  display: flex;
  justify-content: center;
  font-weight: 500;
  position: relative;
  top: -19px;
  padding: 0 1rem;
}

.search-container {
  position: relative;
}

.search-input {
  background-color: #2E2E2F;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px 0px 0px 6px;
  border: none;
}

label[for="search"] {
  position: absolute;
  top: 10px;
  left: 14px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

input[type="search"]:not(:placeholder-shown)+label {
  display: none;
}

.search-sign {
  width: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.625rem;
  padding: 0 2.75rem;
}

.movie-icon {
  width: 148px;
  margin: 20% auto;
}

.movie-container {
  display: flex;
  color: #fff;
}

.description-container {
  max-width: 74%;
  margin-left: 1.13125rem;
}


.movie-poster {
  max-width: 26%;
}

.title-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.6785;
}

.star-icon {
  vertical-align: bottom;
}

.rate {
  margin-left: .4rem;
  font-weight: 400;
  font-size: .75rem;
  line-height: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-element {
  font-size: .75rem;
  font-weight: 400;
  line-height: 20px;
}

.about-element+.about-element {
  margin-left: 1.125rem;
}

.plus-icon {
  vertical-align: bottom;
}

@media screen and (max-width: 400px) {
  .search-section {
    flex-direction: column;
    top: -43px;
  }

  button {
    margin-top: 1rem;
  }

  h4 {
    margin-left: .5rem;
  }
}